* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(black, white);
}

.error {
  color: red;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
}

h2 {
    text-align: left;
    font-family: 'Lobster', cursive;

}
.page-title {
  text-align: left;
  font-weight: 200;
}

p {
  color: navy;
  font-weight: 400;
}

footer {
  text-align: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

a {
  color: blue;
}

a:visited {
  color: #f725c3;
}

a:hover {
  color: darkgreen;
}

nav a {
  padding: 3em;
}

.author {
  font-style: italic;
}
