{% extends "base.html" %}

{% block content %}
<h2 class="page-title">Log in to Blogz!</h2>
<p class="text-info">If you don't have an account, you may <a href="/signup">create an account.</a></p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}